.l-flex {
  display: flex;
}

.l-flex-col {
  display: flex;
  flex-direction: column;
}

.l-flex-1 {
  flex: 1;
}

.l-flex-between {
  display: flex;
  justify-content: space-between;
}

.l-flex-vc {
  display: flex;
  align-items: center;
}

.l-flex-hc {
  display: flex;
  justify-content: center;
}

.l-flex-g1 {
  display: flex;
}

.l-flex-g1 > * {
  margin-right: var(--l-gap-1);
}

.l-flex-g1 > *:last-child {
  margin-right: none;
}
